.sideber
  .sideber__top
    Name
    .icon
      %a.fas.fa-edit{href:"/"}
      %a.fas.fa-cog{href:"/"}
  = render partial: "sideber__group"
  = render partial: "sideber__group"
  = render partial: "sideber__group"
