.sideber
  .sideber__top
    = current_user.name
    .icon
      %a.fas.fa-edit{href:new_group_path}
      %a.fas.fa-cog{href:edit_user_path(current_user)}
  .sideber__group
    .group
    - current_user.groups.each do |group|
      = link_to group_messages_path(group) do
        .group__name
          = group.name
        .group__message
          メッセージはまだありません。
