.chat{
  background-color: #FAFAFA;
  overflow: scroll;
  margin-top: 6px;
  padding: 0 40px 0 40px;
  height: calc(100% - 190px);
  width: calc(100%);
  &__user{
    padding-top: 40px;
    font-size: 16px;
    font-weight: bold;
    color: $text-dark;
    span{
      color: #999999;
      font-size: 12px;
      font-weight: normal;
      margin-left: 10px;
    }
  }
  &__text{
    padding-top: 10px;
    font-size: 14px;
    color: $text-dark;
  }
}
