.sideber {
  width: 300px;
  height: $full;
  float: left;
  background-color: #303E51;
  &__top{
    @include box;
    @include middle;
    height: 100px;
    font-size: 16px;
    background-color: #253141;
    font-weight: bold;
    }
  &__group{
  @include box;
  }
}

.group__name{
    padding-top: 20px;
    font-size: 15px;
    color: $text-white;
  }
.group__message{
    padding: 5px 0 20px;
    font-size: 11px;
    color: $text-white;
  }

.icon{
  margin-left: auto;
  letter-spacing: 1px;
    a{
      color: $text-white;
      text-decoration: none;
    }
}
